@font-face {
  font-family: FjallaOne;
  src: url("/fonts/FjallaOne.woff2") format('woff2');
}

html, body, div {
  margin: 0px;
  font-family: FjallaOne;
}

html, body {
  height: 100%;
}

body>div {
  background-color: black;
}

.box {
  display: flex;
  flex-flow: row wrap;
  color: #fff;
  height: 100%;
  align-items:stretch;
  align-content: stretch;
}

.box>div {
  outline:5px solid white;
  flex: 0 1 auto;
  width: 50%;
  height: 50%;
  align-self: stretch;
  position: relative;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .box>div {
    width: 100%;
    height: auto;
  }
}

@keyframes color_change {
  from { color: rgba(255, 255, 255, 0.2); }
  to { color: white; }
}

.building {
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.box .box>div {
  outline:3px solid white;
  height: 100%;
}

.box .blue {
  background-color: #3fa7f2;
}

.box .red {
  background-color: #d82027;
}

.box .deep_red {
  background-color: #300000;
}

.box .yellow {
  background-color: #f28a3f;
}

.box .disabled, .box .aborted {
  background-color: dimgrey;
}

.box .content {
  padding: 60px;
  overflow: hidden;
}

.box .project_name {
  font-size: 65px;
  margin: 0px;
}

.box .box .project_name {
  font-size: 46px;
  margin: 0px;
}

.project_desc {
  font-family: FjallaOne;
  font-weight: normal;
  font-size: 25px;
  margin: 0px;
}

.box .content .errors {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin: 10px 0px;
  line-height: 150%;
  padding-left: 20px;
}

ul li:nth-of-type(1n+10) {
  display: none;
}

.box .red::after, .box .deep_red::after, .box .blue::after, .box .yellow::after {
  font-family: Arial;
  position: absolute;
  text-align: right;
  margin: 10px;
  color: rgba(255, 255, 255, 0.4);

  font-size: 100px;
  right: 120px;
  top: 25px;
}

.box .box .red::after, .box .box .deep_red::after, .box .box .blue::after, .box .box .yellow::after {
  font-size: 56px;
  right: 30px;
  top: 40px;
}

#box-1.blue::after {
	content: ":)"
}

.red::after {
  content: ":(";
}

#box-2.red::after {
	content: "";
}

.deep_red::after {
  content: ":(";
}

.yellow::after {
  content: ": -|";
}

.box .time {
  font-family: FjallaOne;
  position:absolute;
  bottom:40px;
  padding:0px;
  margin:0px;
  font-size:17px;
  color: rgba(255, 255, 255, 0.8);
}
