@font-face {
  font-family: FjallaOne;
  src: url("/fonts/FjallaOne.woff2") format('woff2');
}

html, body, div {
  margin: 0px;
  font-family: FjallaOne;
}

html, body {
  height: 100%;
}

.box {
  display: flex;
  flex-flow: row wrap;
  color: #fff;
  height: 100%;
  align-items:stretch;
  align-content: stretch;
}

.box>div {
  outline:5px solid white;
  flex: 0 1 auto;
  width: 50%;
  height: 50%;
  align-self: stretch;
  position: relative;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .box>div {
    width: 100%;
    height: auto;
  }
}

@keyframes color_change {
  from { color: rgba(255, 255, 255, 0.2); }
  to { color: white; }
}

.building {
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.box .box>div {
  outline:3px solid white;
  height: 100%;
}

.box .blue, .box .blue_anime {
  background-color: #3fa7f2;
}

.box .red, .box .red_anime {
  background-color: #d82027;
}

.box .yellow, .box .yellow_anime {
  background-color: #f28a3f;
}

.box .disabled, .box .disabled_anime, .box .aborted, .box .aborted_anime {
  background-color: dimgrey;
}

.box .content {
  padding: 60px;
  overflow: hidden;
}

.box .project_name {
  font-size: 50px;
  margin: 0px;
}

.box .box .project_name {
  font-size: 30px;
  margin: 0px;
}

.project_desc {
  font-family: FjallaOne;
  font-weight: normal;
  font-size: 20px;
  margin: 0px;
}

.box .content .errors {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffc9c9;
  font-size: 14px;
  margin: 10px 0px;
  line-height: 150%;
  padding-left: 20px;
}

ul li:nth-of-type(1n+10) {
  display: none;
}

.box .red::after, .box .blue::after, .box .yellow::after {
  font-size: 96px;
  font-family: arial;
  position: absolute;
  right: 80px;
  top: 15px;
  text-align: right;
  margin: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.box .box .red::after, .box .box .blue::after, .box .box .yellow::after {
  font-size: 48px;
  right: 40px;
  top: 35px;
}

.red::after {
  content: "(。•́︿•̀。)";
}

.yellow::after {
  content: "=￣ω￣=";
}
